{
  "openapi": "3.1.0",
  "info": {
    "title": "Housing Metrics API",
    "description": "The Parcl Labs API provides analytics on the U.S. housing market, including data on housing stock, sales, listings, rentals, investor activity, and market trends.",
    "version": "0.4.0"
  },
  "servers": [
    {
      "url": "https://api.parcllabs.com",
      "description": "Prod Server"
    }
  ],
  "paths": {
    "/v1/for_sale_market_metrics/{parcl_id}/new_listings_rolling_counts": {
      "get": {
        "tags": [
          "For Sale Market Metrics"
        ],
        "summary": "New Listings Rolling Counts",
        "description": "Gets weekly updated rolling counts of newly listed for sale properties, segmented into 7, 30, 60, and 90 day periods ending on a specified date, based on a given <parcl_id>.",
        "operationId": "new_listings_rolling_counts_v1_for_sale_market_metrics__parcl_id__new_listings_rolling_counts_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "type": "string",
                  "enum": [
                    "SINGLE_FAMILY",
                    "CONDO",
                    "TOWNHOUSE",
                    "ALL_PROPERTIES"
                  ],
                  "title": "PropertyType"
                }
              ],
              "description": "The type of property the data is associated with. Allows for filtering based on property type.",
              "examples": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE"
              ],
              "default": "ALL_PROPERTIES",
              "title": "Property Type"
            },
            "description": "The type of property the data is associated with. Allows for filtering based on property type."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in YYYY-MM-DD format. This field represents the index date, which is the Monday following a complete data capture week that runs from Monday to Sunday. The index date serves as the anchor for aggregating and reporting the data collected during the preceding week (7 day) and also sets the reference point for the rolling aggregation periods of 30, 60, and 90 days ending on this date. For example, if data is captured from 2024-01-01 (Monday) to 2024-01-07 (Sunday), the index date will be 2024-01-08, the Monday immediately following the capture period . Data becomes available for access on the Thursday following the index date. If no data is returned for a specified index date, it signifies that no relevant events were recorded within the specified aggregation periods."
                          },
                          "rolling_7_day": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Rolling 7 Day",
                            "description": "Aggregation period covers a 7 day period immediately preceding the index date. This period captures data from the previous Monday to Sunday. For example, if the index date is 2024-03-11 (a Monday), this aggregation period spans from 2024-03-04 to 2024-03-10. A NULL value indicates an absence of data during this period (equivalent to 0)"
                          },
                          "rolling_30_day": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Rolling 30 Day",
                            "description": "Aggregation period covers a 30 day period immediately preceding the index date. This period provides a rolling monthly view up to the Sunday before the index date. For example, with an index date of 2024-03-11, this aggregation period includes data from 2024-02-09 to 2024-03-10. A NULL value signifies no observed data within this timeframe (equivalent to 0)"
                          },
                          "rolling_60_day": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Rolling 60 Day",
                            "description": "Aggregation period covers a 60 day period immediately preceding the index date. This period offers a two-month view up to the Sunday before the index date. For example, with an index date of 2024-03-11, this aggregation period includes data from 2024-01-11 to 2024-03-10. A NULL value signifies no observed data within this timeframe (equivalent to 0)"
                          },
                          "rolling_90_day": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Rolling 90 Day",
                            "description": "Aggregation period covers a 90 day period immediately preceding the index date. This period provides a quarterly view up to the Sunday before the index date. For example, with an index date of 2024-03-11, this aggregation period includes data from 2023-12-12 to 2024-03-10. A NULL value signifies no observed data within this timeframe (equivalent to 0)"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "rolling_7_day",
                          "rolling_30_day",
                          "rolling_60_day",
                          "rolling_90_day"
                        ],
                        "title": "ForSaleWeeklyNewListingsRollingCountsSchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[ForSaleWeeklyNewListingsRollingCountsSchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "Input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": "start_date must be before or equal to end_date"
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": "start_date cannot be today or in the future"
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2019-01-01",
                    "value": {
                      "detail": "start_date must be after 2019-01-01"
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2019-01-01",
                    "value": {
                      "detail": "end_date must be after 2019-01-01"
                    }
                  },
                  "property_type_error": {
                    "summary": "Invalid Property Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "property_type"
                          ],
                          "msg": "Input should be SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES",
                          "input": "0",
                          "ctx": {
                            "expected": "SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/{parcl_id}/housing_event_counts": {
      "get": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "Housing Event Counts",
        "description": "Gets monthly counts of housing events, including sales, new for sale listings, and new rental listings, based on a specified <parcl_id>.",
        "operationId": "housing_event_counts_v1_market_metrics__parcl_id__housing_event_counts_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "type": "string",
                  "enum": [
                    "SINGLE_FAMILY",
                    "CONDO",
                    "TOWNHOUSE",
                    "ALL_PROPERTIES"
                  ],
                  "title": "PropertyType"
                }
              ],
              "description": "The type of property the data is associated with. Allows for filtering based on property type.",
              "examples": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE"
              ],
              "default": "ALL_PROPERTIES",
              "title": "Property Type"
            },
            "description": "The type of property the data is associated with. Allows for filtering based on property type."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the following month to include all events from the previous month. For example, data for January ('2024-01-01') is available on February 15th to include January's events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events."
                          },
                          "sales": {
                            "type": "integer",
                            "title": "Sales",
                            "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                          },
                          "new_listings_for_sale": {
                            "type": "integer",
                            "title": "New Listings For Sale",
                            "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                          },
                          "new_rental_listings": {
                            "type": "integer",
                            "title": "New Rental Listings",
                            "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "sales",
                          "new_listings_for_sale",
                          "new_rental_listings"
                        ],
                        "title": "HousingEventCountsMonthlySchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[HousingEventCountsMonthlySchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "Input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": "start_date must be before or equal to end_date"
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": "start_date cannot be today or in the future"
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2019-01-01",
                    "value": {
                      "detail": "start_date must be after 2019-01-01"
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2019-01-01",
                    "value": {
                      "detail": "end_date must be after 2019-01-01"
                    }
                  },
                  "property_type_error": {
                    "summary": "Invalid Property Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "property_type"
                          ],
                          "msg": "Input should be SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES",
                          "input": "0",
                          "ctx": {
                            "expected": "SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/{parcl_id}/housing_event_prices": {
      "get": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "Housing Event Prices",
        "description": "Gets monthly statistics on prices for housing events, including sales, new for sale listings, and new rental listings, based on a specified <parcl_id>.",
        "operationId": "housing_event_prices_v1_market_metrics__parcl_id__housing_event_prices_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "type": "string",
                  "enum": [
                    "SINGLE_FAMILY",
                    "CONDO",
                    "TOWNHOUSE",
                    "ALL_PROPERTIES"
                  ],
                  "title": "PropertyType"
                }
              ],
              "description": "The type of property the data is associated with. Allows for filtering based on property type.",
              "examples": [
                "SINGLE_FAMILY",
                "CONDO",
                "TOWNHOUSE"
              ],
              "default": "ALL_PROPERTIES",
              "title": "Property Type"
            },
            "description": "The type of property the data is associated with. Allows for filtering based on property type."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the following month to include all events from the previous month. For example, data for January ('2024-01-01') is available on February 15th to include January's events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events"
                          },
                          "price": {
                            "allOf": [
                              {
                                "properties": {
                                  "median": {
                                    "properties": {
                                      "sales": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "Sales",
                                        "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                      },
                                      "new_listings_for_sale": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Listings For Sale",
                                        "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                      },
                                      "new_rental_listings": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Rental Listings",
                                        "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                      }
                                    },
                                    "type": "object",
                                    "required": [
                                      "sales",
                                      "new_listings_for_sale",
                                      "new_rental_listings"
                                    ],
                                    "title": "HousingEventPriceDetailSchema"
                                  },
                                  "standard_deviation": {
                                    "allOf": [
                                      {
                                        "properties": {
                                          "sales": {
                                            "anyOf": [
                                              {
                                                "type": "integer"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "title": "Sales",
                                            "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                          },
                                          "new_listings_for_sale": {
                                            "anyOf": [
                                              {
                                                "type": "integer"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "title": "New Listings For Sale",
                                            "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                          },
                                          "new_rental_listings": {
                                            "anyOf": [
                                              {
                                                "type": "integer"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "title": "New Rental Listings",
                                            "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                          }
                                        },
                                        "type": "object",
                                        "required": [
                                          "sales",
                                          "new_listings_for_sale",
                                          "new_rental_listings"
                                        ],
                                        "title": "HousingEventPriceDetailSchema"
                                      }
                                    ],
                                    "description": "Represents the variability of housing event prices around the median price within a specific <parcl_id> for a given month. It is measured in the same unit as the event price (e.g., USD for sales and listings, USD per month for rentals)\n\nNULL: indicates insufficient data to calculate the standard deviation. This occurs in scenarios where the standard deviation cannot be computed because there is only 1 observed price"
                                  },
                                  "percentile_20th": {
                                    "properties": {
                                      "sales": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "Sales",
                                        "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                      },
                                      "new_listings_for_sale": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Listings For Sale",
                                        "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                      },
                                      "new_rental_listings": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Rental Listings",
                                        "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                      }
                                    },
                                    "type": "object",
                                    "required": [
                                      "sales",
                                      "new_listings_for_sale",
                                      "new_rental_listings"
                                    ],
                                    "title": "HousingEventPriceDetailSchema"
                                  },
                                  "percentile_80th": {
                                    "properties": {
                                      "sales": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "Sales",
                                        "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                      },
                                      "new_listings_for_sale": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Listings For Sale",
                                        "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                      },
                                      "new_rental_listings": {
                                        "anyOf": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Rental Listings",
                                        "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                      }
                                    },
                                    "type": "object",
                                    "required": [
                                      "sales",
                                      "new_listings_for_sale",
                                      "new_rental_listings"
                                    ],
                                    "title": "HousingEventPriceDetailSchema"
                                  }
                                },
                                "type": "object",
                                "required": [
                                  "median",
                                  "standard_deviation",
                                  "percentile_20th",
                                  "percentile_80th"
                                ],
                                "title": "HousingEventPricesSchema"
                              }
                            ],
                            "description": "Total transactional price for a housing event. For new_rental_listings, the price represents the monthly rate"
                          },
                          "price_per_square_foot": {
                            "allOf": [
                              {
                                "properties": {
                                  "median": {
                                    "properties": {
                                      "sales": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "Sales",
                                        "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                      },
                                      "new_listings_for_sale": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Listings For Sale",
                                        "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                      },
                                      "new_rental_listings": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Rental Listings",
                                        "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                      }
                                    },
                                    "type": "object",
                                    "required": [
                                      "sales",
                                      "new_listings_for_sale",
                                      "new_rental_listings"
                                    ],
                                    "title": "HousingEventPriceDetailFloatSchema"
                                  },
                                  "standard_deviation": {
                                    "allOf": [
                                      {
                                        "properties": {
                                          "sales": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "title": "Sales",
                                            "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                          },
                                          "new_listings_for_sale": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "title": "New Listings For Sale",
                                            "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                          },
                                          "new_rental_listings": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ],
                                            "title": "New Rental Listings",
                                            "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                          }
                                        },
                                        "type": "object",
                                        "required": [
                                          "sales",
                                          "new_listings_for_sale",
                                          "new_rental_listings"
                                        ],
                                        "title": "HousingEventPriceDetailFloatSchema"
                                      }
                                    ],
                                    "description": "Represents the variability of housing event prices around the median price within a specific <parcl_id> for a given month. It is measured in the same unit as the event price (e.g., USD for sales and listings, USD per month for rentals)\n\nNULL: indicates insufficient data to calculate the standard deviation. This occurs in scenarios where the standard deviation cannot be computed because there is only 1 observed price"
                                  },
                                  "percentile_20th": {
                                    "properties": {
                                      "sales": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "Sales",
                                        "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                      },
                                      "new_listings_for_sale": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Listings For Sale",
                                        "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                      },
                                      "new_rental_listings": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Rental Listings",
                                        "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                      }
                                    },
                                    "type": "object",
                                    "required": [
                                      "sales",
                                      "new_listings_for_sale",
                                      "new_rental_listings"
                                    ],
                                    "title": "HousingEventPriceDetailFloatSchema"
                                  },
                                  "percentile_80th": {
                                    "properties": {
                                      "sales": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "Sales",
                                        "description": "Completed home sale transactions for the specified <parcl_id> within the given month"
                                      },
                                      "new_listings_for_sale": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Listings For Sale",
                                        "description": "Properties newly listed for sale for the specified <parcl_id> within the given month"
                                      },
                                      "new_rental_listings": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ],
                                        "title": "New Rental Listings",
                                        "description": "Properties newly listed for rent for the specified <parcl_id> within the given month"
                                      }
                                    },
                                    "type": "object",
                                    "required": [
                                      "sales",
                                      "new_listings_for_sale",
                                      "new_rental_listings"
                                    ],
                                    "title": "HousingEventPriceDetailFloatSchema"
                                  }
                                },
                                "type": "object",
                                "required": [
                                  "median",
                                  "standard_deviation",
                                  "percentile_20th",
                                  "percentile_80th"
                                ],
                                "title": "HousingEventPricesFloatSchema"
                              }
                            ],
                            "description": "Transactional price for a housing event, normalized by property size to facilitate standardized comparisons. For new_rental_listings, the price per square foot represents the monthly rate"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "price",
                          "price_per_square_foot"
                        ],
                        "title": "HousingEventPricesMonthlySchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[HousingEventPricesMonthlySchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "Input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": "start_date must be before or equal to end_date"
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": "start_date cannot be today or in the future"
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2019-01-01",
                    "value": {
                      "detail": "start_date must be after 2019-01-01"
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2019-01-01",
                    "value": {
                      "detail": "end_date must be after 2019-01-01"
                    }
                  },
                  "property_type_error": {
                    "summary": "Invalid Property Type",
                    "value": {
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "property_type"
                          ],
                          "msg": "Input should be SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES",
                          "input": "0",
                          "ctx": {
                            "expected": "SINGLE_FAMILY, CONDO, TOWNHOUSE, ALL_PROPERTIES"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/market_metrics/{parcl_id}/housing_stock": {
      "get": {
        "tags": [
          "Market Metrics"
        ],
        "summary": "Housing Stock",
        "description": "Gets housing stock for a specified <parcl_id>. Housing stock represents the total number of properties, broken out by single family homes, townhouses, and condos.",
        "operationId": "housing_stock_v1_market_metrics__parcl_id__housing_stock_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. The current year's output provides year-to-date data. For previous years, annual counts are linked to the first day of each respective year. For example, a response dated '2023-01-01' represents the housing stock as of the year 2023."
                          },
                          "single_family": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Single Family",
                            "description": "Total number of single family homes within a specified <parcl_id>"
                          },
                          "condo": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Condo",
                            "description": "Total number of distinct condos within a specified <parcl_id>"
                          },
                          "townhouse": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Townhouse",
                            "description": "Total number of distinct townhouses within a specified <parcl_id>"
                          },
                          "other": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Other",
                            "description": "Total number of units categorized as 'other' within a specified <parcl_id>. Examples of ‘other’ units include co-ops and vacant land"
                          },
                          "all_properties": {
                            "type": "integer",
                            "title": "All Properties",
                            "description": "Total number of single family homes, condos, other, and townhouses within a specified <parcl_id>"
                          }
                        },
                        "type": "object",
                        "required": [
                          "date",
                          "single_family",
                          "condo",
                          "townhouse",
                          "other",
                          "all_properties"
                        ],
                        "title": "MarketMetricsHousingStockMonthlySchema"
                      },
                      "type": "array",
                      "title": "Items"
                    },
                    "total": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Total"
                    },
                    "limit": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Limit"
                    },
                    "offset": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "title": "Offset"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "First",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "last": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Last",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "self": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Self",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "next": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Next",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        },
                        "prev": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Prev",
                          "examples": [
                            "/api/v1/users?limit=1&offset1"
                          ]
                        }
                      },
                      "type": "object",
                      "required": [
                        "first",
                        "last",
                        "self",
                        "next",
                        "prev"
                      ],
                      "title": "Links"
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset",
                    "links"
                  ],
                  "title": "LimitOffsetPage[MarketMetricsHousingStockMonthlySchema]"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Token",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_token_error": {
                    "summary": "Invalid Token Error",
                    "value": {
                      "detail": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "usage_limit_error": {
                    "summary": "Usage Limit Error",
                    "value": {
                      "detail": "You have exceeded your usage limit. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  },
                  "unauthorized_error": {
                    "summary": "Unauthorized Error",
                    "value": {
                      "detail": "You are not authorized to access this resource. Please visit your account at https://dashboard.parcllabs.com for more information."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "examples": {
                  "data_not_found_error": {
                    "summary": "Data Not Found Error",
                    "value": {
                      "detail": "Data not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request Validation Error",
            "content": {
              "application/json": {
                "examples": {
                  "date_format_error": {
                    "summary": "Date Format Error",
                    "value": {
                      "detail": {
                        "type": "date_from_datetime_parsing",
                        "loc": [
                          "query",
                          "start_date"
                        ],
                        "msg": "Input should be a valid date or datetime, invalid character in year",
                        "input": "01/01/2024",
                        "ctx": {
                          "error": "invalid character in year"
                        }
                      }
                    }
                  },
                  "start_date_error": {
                    "summary": "start_date greater than end_date",
                    "value": {
                      "detail": "start_date must be before or equal to end_date"
                    }
                  },
                  "start_date_future_error": {
                    "summary": "start_date cannot be today or in the future",
                    "value": {
                      "detail": "start_date cannot be today or in the future"
                    }
                  },
                  "start_date_early_error": {
                    "summary": "start_date must be after 2019-01-01",
                    "value": {
                      "detail": "start_date must be after 2019-01-01"
                    }
                  },
                  "end_date_early_error": {
                    "summary": "end_date must be after 2019-01-01",
                    "value": {
                      "detail": "end_date must be after 2019-01-01"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database query error",
            "content": {
              "application/json": {
                "examples": {
                  "database_query_error": {
                    "summary": "Database Query Error",
                    "value": {
                      "detail": "There was an error querying the database."
                    }
                  },
                  "token_validation_error": {
                    "summary": "Token Validation Error",
                    "value": {
                      "detail": "There was an error while validating your token. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/investor_metrics/{parcl_id}/housing_event_counts": {
      "get": {
        "tags": [
          "Investor Metrics"
        ],
        "summary": "Housing Event Counts",
        "description": "Gets monthly counts of investor housing events, including acquisitions, dispositions, new for sale listings, and new rental listings, based on a specified <parcl_id>.",
        "operationId": "housing_event_counts_v1_investor_metrics__parcl_id__housing_event_counts_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "parcl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA.",
              "examples": [
                2900187
              ],
              "title": "Parcl Id"
            },
            "description": "A unique id for a given geographic market in the Parcl Labs API. Parcl_ids are unique and independent of each other, without any hierarchical structure. For example, the parcl_id for Brooklyn, NY bears no relationship to the parcl_id for the New York Metropolitan Statistical Area (MSA), even though Brooklyn is a part of the New York MSA."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2020-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Specifies the beginning of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null.",
              "examples": [
                "2022-01-01"
              ],
              "title": "End Date"
            },
            "description": "Specifies the end of the query period, inclusive, in ISO 8601 format, i.e. YYYY-MM-DD. Defaults to null."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size limit",
              "default": 12,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "title": "Date",
                            "description": "Date in format YYYY-MM-DD. Data reflects the full month indicated by the date (YYYY-MM-DD), with updates on the 15th of the following month to include all events from the previous month. For example, data for January ('2024-01-01') is available on February 15th to include January's events. On the 15th of each month, data is revised to incorporate any new events recorded for the specified month after the initial update, ensuring the most accurate reflection of events."
                          },
                          "acquisitions": {
                            "type": "integer",
[...]
